@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --main-bg: rgb(218, 218, 218);
  --sec-bg: #d1efff;
  --thrd-bg: #d6d6d6;
  --font: "Poppins", sans-serif;
  --gap: 1rem;
  --dark-1: #1c1c1c;
  --dark-2: #19b5fe;
  --dark-3: #e0e0e0;
}

* {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
/* Navbar */
nav {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  /* Glass Effect */
  background: rgba(209, 239, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
nav a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .left a {
  font-size: large;
}
nav button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
input[type="search"] {
  width: 100%;
  height: 20px;
  display: none;
  background: rgba(255, 255, 255, 0.14);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}
/* The switch*/
.switch {
  --switch_width: 1.3em;
  --switch_height: 0.7em;
  --thumb_color: #05004e54;
  --track_color: #000000;
  --track_active_color: #0000000e;
  --outline_color: #616161;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 252, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);

  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.slide:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 1px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background: rgba(78, 78, 78, 0.952);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(6.9px);
  -webkit-transform: translateY(-0.2em);
  -ms-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
  -webkit-box-shadow: 0 0.2em 0 var(--outline_color);
  box-shadow: 0 0.1em 0 var(--outline_color);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

input:checked + .slide {
  background: rgba(19, 19, 19, 0.233);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

input:focus-visible + .slide {
  -webkit-box-shadow: 0 0 0 2px var(--track_active_color);
  box-shadow: 0 0 0 2px var(--track_active_color);
}

input:hover + .slide:before {
  -webkit-transform: translateY(-0.3em);
  -ms-transform: translateY(-0.3em);
  transform: translateY(-0.3em);
  -webkit-box-shadow: 0 0.3em 0 var(--outline_color);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slide:before {
  -webkit-transform: translateX(
      calc(var(--switch_width) - var(--switch_height))
    )
    translateY(-0.2em);
  -ms-transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

input:hover:checked + .slide:before {
  -webkit-transform: translateX(
      calc(var(--switch_width) - var(--switch_height))
    )
    translateY(-0.3em);
  -ms-transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  -webkit-box-shadow: 0 0.3em 0 var(--outline_color);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

/* Header */
header {
  min-height: 100vh;
  position: relative;
  background: #ffffff;
  background: linear-gradient(
    100deg,
    rgb(240, 240, 240) 60%,
    rgba(9, 9, 121, 0) 80%,
    rgba(0, 212, 255, 0) 100%
  );
  transition: all 0.5s;
}

header .head-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
header .highlight {
  position: absolute;
  object-fit: cover;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
header .sosmed {
  position: absolute;
  top: 95%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
header .sosmed a {
  color: black;
  margin-right: 3px;
}
section {
  background-color: var(--thrd-bg);
}
/* Mini Carousel */

.slider {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  height: 30vh;
}

.card {
  min-width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: var(--gap);
  background-color: var(--main-bg);
  animation: scroll 50s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card p {
  margin: 0;
}

/* Movie List */
#movielist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

#movielist .list-card {
  width: 10%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-bg);
}
#movielist .list-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
#movielist .list-card img:hover {
  transform: scale(110%);
}
#movielist .list-card .katalog {
  text-align: center;
  font-size: small;
  height: 50%;
  margin: 5px;
}
#movielist .list-card .katalog p {
  text-align: center;
  font-size: small;
  padding: 0;
  margin: 0;
}

/* Footer */

footer {
  background-color: var(--main-bg);
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-top: 1px dashed black;
}
footer .flink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .flink a {
  color: #000;
  text-decoration: none;
}
footer .fsosmed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .fsosmed a {
  color: #000;
  text-decoration: none;
  display: flex;
  margin-right: 5px;
}

/* Dark mode */

.d-head {
  background: linear-gradient(
    100deg,
    rgb(28, 28, 28) 60%,
    rgba(3, 3, 71, 0) 80%,
    rgba(8, 67, 134, 0) 100%
  );
  color: white;
}
.d-head .sosmed a {
  color: white;
}

.d-section {
  background: var(--dark-1);
  color: white;
}
.d-section .card {
  color: black;
}
.d-section .list-card {
  color: black;
}
.d-footer {
  background: var(--dark-1);
  color: white;
}
.d-footer .fsosmed a {
  color: white;
}
.d-footer .flink a {
  color: white;
}
/* Media Query */
@media (max-width: 425px) {
  .left {
    display: none;
  }
  header {
    display: grid;
    place-items: center;
  }

  header .head-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .sosmed {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Movie List */
  #movielist {
    flex-direction: column;
  }

  #movielist .list-card {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--main-bg);
  }
}
